@model Person


@{
    ViewBag.Title = "People Details";
}

<div class="container mt-5">
    <div class="d-flex justify-content-between mb-3">
        <h1 class="text-info m-0">@ViewBag.Title</h1>
        @*<a href="/people/create" class="btn btn-outline-success d-flex align-items-center">Add Person</a>*@
    </div>

    <div class="w-50">
        <h2>@Model</h2>
    </div>
</div>

